.cell-value-1 {
  background-color: #FFA500;
}

.cell-value-0 {
  background-color: #FFFFFF;
}

.cell-value-3 {
  background-color: #FFFF00;
}

.cell-value-10 {
  background-color: #92D050;
}

.cell-value-20 {
  background-color: #C4BC96;
}

.cell-value-100 {
  background-color: #00B050;
}

.cell-value-150 {
  background-color: #948A54;
}

.cell-value-180 {
  background-color: #548DD4;
}